@import "tailwindcss";

@theme {
  --color-primary: var(--color-blue-800);
  --color-primary-hover: var(--color-blue-900);
  --color-primary-light: var(--color-slate-100);
  --color-sidebar: var(--color-slate-900);
}

body {
  @apply font-sans text-slate-800 bg-white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400;
}